

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 200px;
    background: url(./img/stars.jpg)
}

.lazer {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid white;
}

.one {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: rgb(63, 63, 63);
    opacity: 0.5;
    box-shadow:0 0 50px #3bff0a;

}

.wrapper {
    width: 300px;
    height: 25px;
    position: absolute;
    top: 300px;
    left: 100px;
    
}

.two {
    position: absolute;
    background-color:  rgb(63, 63, 63);
    opacity: 0.5;
    box-shadow:0 0 50px #0aff2bd8;
}

.wrapper:hover > .two {
    transform: rotate(45deg);
}


.three {
    position: absolute;
    background-color: rgb(63, 63, 63);
    opacity: 0.5;
    box-shadow:0 0 50px #f0088fd8;
}

.wrapper:hover > .three {
    transform: rotate(-45deg);
}

.wrp {
    width: 40px;
    height: 26px;
    position: absolute;
    left: 30px;
    background-color: rgb(36, 37, 55);
}

.next {
    position: absolute;
    left: 210px;
}


.pendulum {
    position: absolute; 
    top: 600px; 
}

.ball {
    float: left;  
    width: 60px; 
    height: 60px;
    margin-bottom: 150px;
    background: rgb(91 212 169); 
    border-radius: 100%; 
    transform-origin: 50% -100px;
    
}

.ball:nth-child(1) {
    background-color: rgb(67, 15, 255);
    animation: ball1 0.5s infinite alternate  0.5s  ease-out;
}
.ball:nth-child(8) {
    background-color: rgb(59 140 133);
    animation: ball8 0.5s infinite alternate ease-out;
}

@keyframes ball1 {
    0%,50% {
    transform: rotate(0);
}   100% {
    transform: rotate(30deg);
}
}
@keyframes ball8 {
    0%,50% {
    transform: rotate(0);
}   100% {
    transform: rotate(-30deg);
}
}
  